/.vscode
/build-cache

/docker/pfc-sdk-g2/src/*.tar.*
/docker/pfc-sdk-g2/src/*.tar
/docker/pfc-sdk-g2/src/*.zip
/docker/pfc-sdk-g2/src/*.tgz
/docker/pfc-sdk-g2/src/certdata-*.txt
/docker/pfc-sdk-g2/configs/wago-pfcXXX/packages/*.ipk
/docker/pfc-sdk-g2/configs/wago-pfcXXX/packages/*.tgz
/docker/pfc-sdk-g2/packages/*.tar.xz
/docker/pfc-sdk-g2/configs/wago-pfcXXX/packages/tmp/*.tar.gz
/docker/pfc-sdk-g2/**/coverage-sources.zip

/ptxproj
